/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Primary colors */
  --lightGreen: #bfd483;
  --darkGreen: #556f4e;
  --logoYellow: #fbfed1;
  --webBlack: #212121;
  --darkRed: #570e20;
  --background: #fff9ef;

  /* Basic colors */
  --lightGrey: #f2f2f2;
  --grey: #e6e6e6;
  --darkGrey: #adadad;
  --textGrey: #505050;

  /* fonts */
  --Oswald: "Oswald", sans-serif;
  --Saira: "Saira", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--Saira);
  background-color: var(--background);
}

/* global measurements */

header {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem 6rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.Logo {
  width: 85px;
}

nav {
  margin: 0 8rem;
}
nav > ul {
  display: flex;
  gap: 3rem;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  color: var(--darkGreen);
}

/* kode refereret af: https://www.youtube.com/watch?v=JkuiKeNS2mg&t */
nav > ul > li > a:is(:link, :active, :visited, ).active {
  border-bottom: 2px solid var(--darkGreen);
  font-weight: 700;
}

.landingPage {
  width: 100%;
  height: 110vh;
  background-image: url(/assets/images/landingpage1_winefix.png);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.landingPageH1 {
  position: absolute;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  position: fixed;
  fill: var(--webBlack);
  z-index: -1;
}

.mirroredImg {
  position: absolute;
  display: block;
  width: 100%;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
.greenGradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--darkGreen) 80%
  );
}

/* Ikoner
__________________________________________ */

.CTA_icons {
  background-color: var(--darkGreen);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 3rem 6rem;
}
.CTA_icons > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CTA_icons > article > img {
  width: 80px;
}
.CTA_icons > article > h2 {
  color: var(--logoYellow);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* Udvalge vine
___________________________________________ */

.selectedWine {
  padding: 0 6rem;
}
.selectedWine > h2,
.Instagram > h2,
.exploreMore > h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 2rem 0;
}

.selectedCarrousel {
  width: 100%;
  display: flex;
}

.selectedProduct {
  background-color: var(--textGrey);
  width: 100%;
  height: 600px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Koncept sektion
_________________________________________ */

.konceptForside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 4rem 0;
}

.konceptForside > img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.konceptForsideContent {
  padding: 0 10rem;
}

button {
  font-size: 1rem;
  font-family: "Saira", sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin: 2rem 0;
  padding: 0.6rem 2rem;
  background-color: var(--darkGreen);
  color: var(--background);
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Udforsk også
______________________________ */

.exploreMore {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    var(--darkGreen) 50%,
    var(--darkGreen) 100%
  );
  padding: 0 6rem;
}

/* Divider
______________________________ */

.divider {
  display: flex;
  align-items: center;
  padding: 3rem 6rem;
  background-color: var(--darkGreen);
}
.divider > img {
  width: 150px;
  margin: 0 3rem;
}

.line {
  height: 2px;
  width: 100%;
  background-color: var(--logoYellow);
}

/* Instagram
_______________________________ */

.Instagram {
  background-color: var(--darkGreen);
  padding: 0 6rem;
}

/* Produktside
____________________________________*/

.pageHero {
  width: 100%;
  height: 70vh;
  background-image: url(/assets/images/vineyards-1_1af85381-45f9-4691-b364-d9c687d27760_2048x2048.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: end;
}

.pageHero > svg {
    position: absolute;
    bottom: 0;
    fill: var(--background);
}

.productName {
    padding: 0 6rem;
 padding-bottom: 150px;
 color: var(--logoYellow);
}
.productName > h1 {
    font-size: 3rem;
    font-family: var(--Oswald);
    margin: 0;
}

.productInfo {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    padding: 0 6rem;
}

.productDesc {
    margin-right: 4rem;
}

.productImg {
    position: fixed;
    margin-top: -20rem;
}